<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اعمال المستقيل</title>
    <link rel="stylesheet" href="/src/scss/home/home.css">
    <link rel="stylesheet" href="all.min.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <h1> <img src="/src/img/53.svg" alt="">Pro Tech</h1>
            </div>
            <div class="login">
                <a class="button" href="/users/auth">تسجل دخول</a>
                <a href="#abuot">من نحن</a>
            </div>
        </div>
    </header>


    <div class="landing">
        <div class="container">
            <div class="landing-img">
                <img src="/src/img/hero.png.svg" alt="">
            </div>

            <div class="ditals">
                <h1>مرحبا بكم في موقع اعمال التقنية</h1>
                    
                    <p>
                        اعمال التنقية هيا اعمال ممكن عمله في القطاعات الحكومية والخاصه لحل مشاكل التقنية</p>
                    <a href="#partners">اهم شركاؤنا</a>
            </div>

        </div>
        <img class="Group" src="/src/img/Group.png" alt="">
    </div>

    <section id="abuot" class="abuot">
        <div class="titelAbuot">
            <h1>من نحن</h1>
        </div>

        <div class="container">
            <div class="love">
                <img src="/src/img/SVG.png" alt="">
                <h1>مرحبا بكم في موقع اعمال التقنية 
                    <p>احنا شركة تقوم با حلول تقنية للاعمال التقنية للقطاعات الحكومية اول الخاصة ونطمح ان نكون افضل على مستوى العالم  ليخلو العالم من المشاكل التقنية</p>
                </h1>
            </div>
            <div class="welcome">
                <h1>مرحبا بكم في موقع اعمال التقنية 
                    <p>احنا شركة تقوم با حلول تقنية للاعمال التقنية للقطاعات الحكومية اول الخاصة ونطمح ان نكون افضل على مستوى العالم  ليخلو العالم من المشاكل التقنية</p>
                </h1>
                <div class="welcome-img">
                    <img src="/src/img/longSVG.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <section id="partners" class="partners">
        <div class="titelPartners">
            <h1>اهم شركاؤنا</h1>
            <p>ردود الفعل من مستخدمينا سعداء. كن واحدًا منهم.</p>
        </div>

        <div class="allcontainer">
            <div class="span-left"><i class="fas fa-angle-left"></i></div>

            <div class="container">
                <div class="card">
                    <div class="card-img">
                        <img src="/src/img/search.png" alt="">
                    </div>
                    <div class="titel">
                        <p>"لقد كنت أستخدم الخدمة منذ أكثر من عام ويجب أن أقول أنني لم أستخدمها أبدًا
                            كان لديه مزود خدمة موثوق به للعمل معه. لقد ساعدوني
                            كثيراً"</p>
                        <h1>google</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/src/img/search.png" alt="">
                    </div>
                    <div class="titel">
                        <p>"لقد كنت أستخدم الخدمة منذ أكثر من عام ويجب أن أقول أنني لم أستخدمها أبدًا
                            كان لديه مزود خدمة موثوق به للعمل معه. لقد ساعدوني
                            كثيراً"</p>
                        <h1>api</h1>
                    </div>
                </div>


            </div>

            <div class="span-right"><i class="fas fa-angle-right"></i></div>
        </div>
        <div class="spans">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>


    </section>


    <section class="invite">
        <img class="Group" src="/src/img/Group.png" alt="">
        
        <div class="titelInvite">
            <h1>دعوة للعمل</h1>
            <p>رسالة البطل الرئيسية لبيع نفسك!</p>
            <button>Action!</button>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="logo">
                <h1><img src="/src/img/log3.png" alt="">اعمال التقنية</h1>
            </div>

            
    </footer>

</body>

</html>