@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Single R Test admin</h1>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/single_r_class.js"></script>
<script src="~/js/test_single_r_admin.js"></script>