<h1>singleR</h1>
<button id="plus_counter">plus</button>
<button id="min_counter">min</button>
<p id="value">0</p>
<div>all values: <p id="all_value">0</p></div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Single_R_Connection.js"></script>